{# store/templates/store/_header.html #}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Steam 2</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            {# **Все ссылки теперь в ОДНОМ ul** #}
            <ul class="navbar-nav"> {# **Убрали ms-auto у ul** #}

                <li class="nav-item"> {# Главная ссылка - идет первой #}
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                {# Добавьте другие основные ссылки по мере необходимости здесь (они пойдут после Главной) #}

                {# **Ссылки для пользователя (смещены вправо)** #}
                {% if user.is_authenticated %}
                    {# **Добавляем ms-auto к этому первому li для авторизованного пользователя** #}
                    <li class="nav-item ms-auto">
                        <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                    </li>
                    {# Ссылка "Выйти" удалена из шапки, она на странице профиля #}
                {% else %}
                    {# **Добавляем ms-auto к этому первому li для неавторизованного пользователя** #}
                    <li class="nav-item ms-auto">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                    <li class="nav-item"> {# Ссылка на регистрацию - пойдет после "Войти" #}
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>